<header class="top-nav">
  <h1 class="logo-header">Suite Stays</h1>
  <div class="search-box">
    <input type="search" placeholder="Where to?">
    <span class="search-span"><%= inline_svg_tag "search_icon.svg", class: "search-icon"%></span>
  </div>
</header>